@import '../utils/utils.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 140px 50px 140px;
  background-color: #fdfff0;
  overflow: hidden;
  

  @include laptop{
    padding: 25px 60px 25px 60px;
  }

  @include phones {
   padding: 20px 30px 20px 30px;
  }

  &__logo {
    width: 190px;
    height: 50px;

    @include phones {
      display: none;
    }
  }

  &__navbar {
    &__burger-menu-label {
      @include laptop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 50px;
        height: 20px;
        padding: 10px;
  
        &__line {
          width: 30px;
          height: 2px;
          background-color: black;
        }
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    transition: 1s;
    
    @include laptop {
      flex-direction: column;
      top: 100px;
      margin-left: -100%;
      position: absolute;
    }

    @include phones {
      margin-left: -100%;
      top: 80px;
    }
  
    &__link {
      @include description;
      color: $header-link-color;

      @include laptop {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        color: $primary-text-color;
        background-color: gray;

        &:hover {
          color: $secondary-text-color;
          background-color: rgb(92, 92, 92);
        }
      }
    }

    &__sign-up-link {
      display: none;
      @include description;
      color: $header-link-color;
      @include laptop {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        color: $primary-text-color;
        background-color: gray;
      }
    }

    &__sign-up {
      @include sign-up-button;

      @include laptop {
        display: none;
      }
    }
  }
}

#burger-menu-checkbox {
  display: none;

  &:checked ~ .header__content {
    @include laptop {
      margin-left: -60px;
    }

    @include phones {
      margin-left: -30px;
    }
  }
}

