@import '../utils/utils.scss';

.underfooter {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__underline {
    height: 1px;
    width: 100%;
    background-color: gray;
  }

  &__text {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;

    @include description;
    opacity: 50%;
    color: $primary-text-color;
  }
}