@import './colors';
@import './hovers.scss';
@import './font.scss';

@mixin sign-up-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 60px;
  border: 0;
  border-radius: 15px;
  @include description;
  color: $secondary-text-color;
  background-color: $default-button-background;

  &:hover {
    @include default-button-hover;
  }
}

@mixin primary-button {
  
}

@mixin play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid lighten($color: $default-button-background, $amount: 35%);
  @include default-hover;
  &:hover {
    
    border: 8px solid $default-button-hover-background;
  }
}

@mixin cta-button {
  
}