$default-button-background: #A36EBA;
$default-button-hover-background: #F4864D;
$cta-button-color: rgba(255, 172, 255, 1);


$default-slider-button-color: #999FAE;
$default-slider-button-active-color: #A36EBA;

$primary-text-color: #1D2538;
$secondary-text-color: #FFFFFF;

$header-link-color: #999FAE;
$header-hover-link-color: #A36EBA;
$header-link-background: #FFFF;
$description-text-color: #273150;
$description-secondary-text-color: #999FAE;

$features-background: #A36EBA;
$primary-background: #fdfff0;
$secondary-background: #A36EBA;
$faq-background: #F4EAF4;