$default-button-background: #A36EBA;
$default-button-hover-background: #F4864D;

$primary-text-color: #1D2538;
$secondary-text-color: #FFFFFF;

$header-link-color: #999FAE;
$header-hover-link-color: #A36EBA;
$header-link-background: #FFFF;
$description-text-color: #273150;