@import './relative.scss';
@import './adaptive.scss';

@font-face {
  font-family: "CircularStdBold";
  src: url("../../fonts/CircularStd-Bold.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "CircularStdBook";
  src: url("../../fonts/CircularStd-Book.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
}

@mixin page-title {
  font-family: 'CircularStdBold';
  font-size: rem(64);
  line-height: rem(72);

  @include laptop {
    font-size: rem(50);
    line-height: rem(58);
  }

  @include phones {
    font-size: rem(40);
    line-height: rem(46);
  }
}

@mixin title {
  font-family: 'CircularStdBold';
  font-size: rem(40);
  line-height: rem(72);

  @include laptop {
    line-height: rem(40);
  }

  @include phones {
    font-size: rem(32);
    line-height: rem(40);
  }
}

@mixin subtitle {
  font-family: 'CircularStdBold';
  font-size: rem(32);
  line-height: rem(72);

  @include laptop {
    font-size: rem(24);
    line-height: rem(32);
  }

  @include phones {
    line-height: rem(40);
  }
}

@mixin description {
  font-family: 'CircularStdBook';
  font-size: rem(20);
  line-height: rem(27);

  @include phones {
    font-size: rem(18);
    line-height: rem(24);
  }
}