@import './styles/utils/utils.scss';

.header, 
.welcome, 
.partners, 
.opportunities,
.features, .team-pricing {
  padding: 50px 140px 50px 140px;
  overflow: hidden;
  
  @include laptop{
    padding: 25px 60px 25px 60px;
  }

  @include phones {
   padding: 20px 30px 20px 30px;
  }
}